pkgbase = fcitx5-dynamic-themes
	pkgdesc = Provider-agnostic dynamic color themes for Fcitx5 Classic UI
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/DotRedstone/fcitx5-dynamic-themes
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = fcitx5
	depends = python
	optdepends = noctalia: Noctalia dynamic color provider
	source = fcitx5-dynamic-themes-0.3.0.tar.gz::https://github.com/DotRedstone/fcitx5-dynamic-themes/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = ff57308b5971484d0c480a190a3d1bbd9dfa998a811efec667ff971565ff7cf1

pkgname = fcitx5-dynamic-themes
