pkgbase = fcitx5-dynamic-themes
	pkgdesc = Provider-agnostic dynamic color themes for Fcitx5 Classic UI
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/DotRedstone/fcitx5-dynamic-themes
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = fcitx5
	depends = python
	optdepends = noctalia: Noctalia dynamic color provider
	source = fcitx5-dynamic-themes-0.2.1.tar.gz::https://github.com/DotRedstone/fcitx5-dynamic-themes/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 3302aca971a327d5480d8141731af2ab5704952441c66bec58a19974f8477594

pkgname = fcitx5-dynamic-themes
